body {
    text-align: center;
    display: grid;
    background-color: #394867;
    color: #617A55;
    font-family: 'Sofia', cursive;
}

h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 12rem 25rem;
    gap: 20px 30px;
    width: 50%;
    align-self: center;
    justify-self: center;
}

.player {
    align-self: center;
    font-size: 1.5rem;
}

.cube {
    justify-self: stretch; 
}

.cube-img {
    border-radius: 20px;
}

#btn {
    grid-column: span 2;
    width: 25%;
    justify-self: center;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    font-size: 2rem;
    font-family: 'Sofia', cursive;
    color: #617A55;
    background-color: #9BA4B5;
}