body {
    background-color: #394867;
    margin-top: 10%; 
}

h1 {
    margin: 30px;
    font-family: 'Sofia', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 3rem;
    color: #4ECCA3;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.cube {
    text-align: center;
    display: inline-block;
}

img {
    border-radius: 20px;
    width: 50%;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3rem;
}

#btn {
    width: 25%;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    font-size: 1.25rem;
    font-family: 'Sofia', cursive;
    color: #617A55;
    background-color: #9BA4B5;
}